.admin {
  header {
    height: 80px;
    padding: 0px 20px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    .header-items-area {
      display: flex;
      align-items: center;
      .admin-name {
        margin-right: 20px;
        a {
          color: #fff;
        }
      }
    }
  }

  main {
    background-color: #eee;


    .content {
      min-height: calc(100vh - 80px);
      padding: 10px 20px;

      .page-title {
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
      }
    }
    .no-auth-content {
      form {
        max-width: 960px;
        margin: auto;
        padding: 20px;
        text-align: center;
        background-color: #fff;
      
        .input-area {
          max-width: 350px;
          margin: auto;
          margin-bottom: 20px;
          text-align-last: left;
          label {
            display: block;
          }
          input {
            width: 100%;
            padding: 5px;
            font-size: 16px;
          }
        }
      
        .password-reset-link {
          text-decoration: underline;
          color: rgb(13, 110, 253);
        }

        .btn-area {
          .btn:first-child {
            margin-right: 10px;
          }
          .btn:last-child {
            margin-left: 10px;
          }
        }
      }
    }
    .auth-content {
      display: inline-block;
      padding: 30px;
      height: calc(100vh - 140px);
      width: calc(100vw - 200px);
      .page-wrap {
        height: calc(100vh - 140px);
        overflow-y: scroll;
        background-color: #fff;
        padding: 20px;
      }
    }

    .contents-area {
      .table-header {
        margin-bottom: 10px;
      }
      .table-area {
        table {
          width: 100%;
          border-collapse: collapse;
          border-spacing: 0;
        }
        .index-table {
          thead {
            tr {
              th {
                background-color: #000;
                color: #fff;
                padding: 5px;
              }
            }
          }
          tbody {
            tr {
              td {
                padding: 5px 10px;
                border-bottom: 1px solid #eee;
              }
              .id-cell {
                width: 50px;
                text-align: center;
                background-color: rgb(207, 226, 255);
              }
              .btn-cell {
                width: 150px;
                text-align: center;
              }
            }
            tr:nth-child(even) {
              background-color: #eee;
            }
          }
        }
        .edit-table {
          tbody {
            tr {
              border-bottom: 1px solid #eee;
              th {
                background-color: #000;
                color: #fff;
                padding: 5px;
              }
              td {
                padding: 5px;
                input, textarea {
                  font-size: 16px;
                  width: 100%;
                }
                select, option {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
      .edit-btn-area {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }

      .pagination {
        margin-top: 20px;
        text-align: center;
        li {
          display: inline-block;
          border: 1px solid #000;
          border-right: none;
          &:last-child {
            border-right: 1px solid #000;
          }
          .page {
            width: 30px;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            user-select: none;
            &:hover {
              background-color: rgb(13, 110, 253);
              color: #fff;
            }
          }
          .active-page {
            background-color: rgb(13, 110, 253);
            color: #fff;
          }
        }
      }

      .no-data-message {
        text-align: center;
      }
    }

    .validation_message {
      color: red;
    }
  }
}
