html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
ul, li, dl, dt, dd, table, tr, th, td {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  &:hover{
    text-decoration: none;
    cursor: pointer;
    user-select: none;
  }
}

* {
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 50px;
  line-height: 50px;
  background-color: rgb(13, 110, 253);
  color: #fff;
  border:  none;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}
.btn:hover {
  background-color: rgba(13, 110, 253, .9);
}

.red-btn {
  background-color: rgb(220, 53, 69);
}
.red-btn:hover {
  background-color: rgba(220, 53, 69, .9);
}

.green-btn {
  background-color: rgb(25, 135, 84);
}
.green-btn:hover {
  background-color: rgba(25, 135, 84, .9);
}
